* {
    box-sizing: border-box;
}

body {
    font-family: "Karla", sans-serif;
    margin-left:30px;

}
.main{
    display: flex;
    flex-wrap:wrap;
    justify-content: space-evenly;

}
.container{
    padding: 2px;
    height: 200px;
    width:200px;
    border: 1px solid black;
    text-align: center;
    margin:10px;
}
.question{
    color:red;
    font-weight: bold;
    
}
.punchline{
    margin-top: 10px;
    color:blue;
    
}
